.article-container h1, .article-container h2, .article-container h3 {
  letter-spacing: .2px;
}
.article-container p {
  font-size: 1.05rem;
  color: #dbe2ea;
}
.article-container img {
  border: 1px solid var(--border);
}

.blockquote-custom {
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #64d2ff;
  font-style: italic;
}
.blockquote-custom footer {
  color: #aab4c0;
  background-color: rgba(255, 255, 255, 0.05);
}

.author-line {
  color: #58b8de;
}
.author-name {
  color: #64d2ff;
}
