.article-container h1, .article-container h2, .article-container h3 {
  letter-spacing: .2px;
}
.article-container p {
  font-size: 1.05rem;
  color: #dbe2ea;
}
.article-container img {
  border: 1px solid var(--border);
}
